<style>     
            .gallery img {
                height: 25cm;
                width: 25cm;
            display: none;
        }

        .slide { display: block;
            text-align: center;
         height: 1400px;       
        width: 1900px;
        }

</style>