body {
background-color: rgb(248, 250, 234);

}

.top {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 55px;
}

.blurb {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    text-decoration: underline;
}

.middle {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 100px;}

.pic1 { padding-right: 50%;
width: 700px;
height: 600px;}

.centered {
    position: absolute;
    top: 64%;
    right: 62%;
    color: aliceblue;
    font-style: italic;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}